################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AssemblyProject/v16
/.vs
/.vs/JAProject/v16
/JAProject/.vs/JAProject/v16/